<div>
    <form (ngSubmit)="onSubmit(form.value)" #form="ngForm">
        <h3>{{ title }}</h3>
        <div class="form-group">
            <label>Email address</label>
            <input type="email" name="email" ngModel #email>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" ngModel>
        </div>
        <button type="submit"> {{ title }} </button>
    </form>
</div>