:host {

    > div {
        border: 1px solid #d2daee;
        border-radius: 2px;
        max-width: 300px;
        padding: 20px;

        h3 {
            margin: 0;
            margin-bottom: 15px;
        }

        .form-group {
            display: flex;
            flex-wrap: wrap;

            label, input {
                width: 100%;
            }

            input {
                margin-bottom: 10px;
            }
        }
    }
}