<div>
    <button (click)="addProp()">Add property</button>
    <button (click)="changeUser()">Change user object</button>
    <button (click)="changeName()">Change name property</button>
    <div class="users">
        <example-one [user]="user"></example-one>
        <example-two [user]="user"></example-two>
    </div>
</div>