body {
    font-family: Arial, Helvetica, sans-serif;
}

input[type="email"], input[type="password"] {
    border: 1px solid #d2daee;
    border-radius: 4px;
    line-height: 30px;
}

label {
    font-size: 14px;
}

button {
    background: #9f72e6;
    border: 0;
    border-radius: 3px;
    color: white;
    font-size: 13px;
    padding: 10px;
}