<div class="example-one">
    <h4>{{ user.name }}</h4>
    <h5>{{ user.age }} years old</h5>
    {{ user.location }} <br>
    {{ user.email }}
    <button (click)="update()">Internal update</button>
    <p>* should not update</p>
</div>